{% extends "admin/change_list.html" %} {% load staticfiles compras %} {% block extrahead %}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script>
  var randomColorGenerator = function () {
    return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
  };
  var options = {
    responsive: true,
    maintainAspectRatio: true,
    legend: {
      position: 'left'
    },
    title: {
      display: true,
      text: "Clientes"
    },
    animation: {
      animateScale: true,
      animateRotate: true
    }
  };
  window.onload = function () {
    var ctx = document.getElementById("client-chart");
    {% regroup cl.queryset|dictsort:"cliente_id" by cliente as cliente_list %}
    var lineChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: [{% for cliente in cliente_list %}'{{ cliente.grouper }}',{% endfor %}],
        datasets: [{
          data: [{% for cliente in cliente_list %}'{{ cliente.list|length }}', {% endfor %}],
          backgroundColor: [{% for cliente in cliente_list %}randomColorGenerator(), {% endfor %}]
        }]
      },
      options: options
    });
    // ctx = document.getElementById("item-chart");
    // {% regroup cl.queryset|dictsort:"items" by items as items_list %}
    // {% saludar cl.queryset as mapa %}
    // // console.log("{{ cl.queryset|dictsort:'items' }}")
    // // console.log("{{cl.queryset.0}}")
    // // console.log("{{mapa}}")
    // var lineChart = new Chart(ctx, {
    //   type: 'doughnut',
    //   data: {
    //     labels: [{% for lbl in mapa %}"{{lbl}}", {% endfor %}],
    //     datasets: [{
    //       data: [{% for lbl, qty in mapa.items %}'{{ qty }}', {% endfor %}],
    //       backgroundColor: [{% for lbl in mapa %}randomColorGenerator(), {% endfor %}]
    //     }]
    //   },
    //   options: options
    // });
  };

</script> {% endblock %} {% block content %}
<!-- <h1> Gráfico </h1> -->
<hr>
<div class="row">
  <div class="col-sm-4">
    <!-- <h4>Clientes</h4> -->
    <canvas id="client-chart" style="width: 100px !important;"></canvas>
  </div>
  <!-- <div class="col-sm-4">
      <h4>Productos</h4>
    <canvas id="item-chart" style="width: 100px !important;"></canvas>
  </div> -->
</div>
<div class="row">
  <div><br><br><br><br></div>
</div>
{{ block.super }} {% endblock %}