{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<style>
.breadcrumbs{
    display: none;
}
/* For hidde the recent actions module */
#content-related{
    display: none;
}
/* .deletelink-box{
    display: none;
} */
</style>{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'logo.png' %}" height="30px" />Sprinkler
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
