{% extends "admin/change_list.html" %} {% load staticfiles %} {% block extrahead %}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script>
  var randomColorGenerator = function () {
    return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
  };
  var options = {
    responsive: true,
    maintainAspectRatio: true,
    legend: {
      position: 'left'
    },
    title: {
      display: true,
      text: "Estado"
    },
    animation: {
      animateScale: true,
      animateRotate: true
    }
  };
  window.onload = function () {
    var ctx = document.getElementById("active-chart");
    {% regroup cl.queryset|dictsort:"is_active" by is_active as is_active_list %}
    var lineChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: [{% for is_active in is_active_list %} {% if is_active.grouper == True %} 'Activo' {% else %} 'Inactivo' {% endif %} ,{% endfor %}],
        datasets: [{
          data: [{% for is_active in is_active_list %}'{{ is_active.list|length }}', {% endfor %}],
          backgroundColor: [{% for is_active in is_active_list %}randomColorGenerator(), {% endfor %}]
        }]
      },
      options: options
    });
  };

</script> {% endblock %} {% block content %}
<!-- <h1> Gráfico </h1> -->
<hr>
<div class="row">
  <div class="col-sm-4">
    <canvas id="active-chart" style="width: 100px !important;"></canvas>
  </div>
</div>
<div class="row">
  <div><br><br><br><br></div>
</div>
{{ block.super }} {% endblock %}